.not-found {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: $color-bg;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .not-found {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}