.not-found__header {
    margin-bottom: 17px;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .not-found__header {
        font-size: 28px;
    }
}

    
/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .not-found__header {
        font-size: 24px;
    }
}