.fancybox-slide--iframe .fancybox-content {
	width  : 1280px;
	height : 720px;
	max-width  : 80%;
	max-height : 80%;
	margin: 0;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .fancybox-slide--iframe .fancybox-content {
        max-width: 100%;
        max-height: 100%;
    }
}