.publications__container {
    background-color: $color-bg;
    padding-top: 80px;
    padding-bottom: 40px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .publications__container {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .publications__container {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}