.title {
    font-family: $font-head, sans-serif;
    font-size: 48px;
    color: $color-title;
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    
    .title {
        font-size: 43px;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .title {
        font-size: 39px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .title {
        font-size: 29px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {

    .title {
        font-size: 23px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .title {
        font-size: 23px;
    }
}