.widget__header {
    font-family: $font-title;
    font-size: 19px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .widget__header {
        font-size: 17px;
        margin-bottom: 16px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .widget__header {
        font-size: 15px;
    }
}