.comment__text {
    color: $color-text;
    margin-bottom: 20px;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .comment__text {
        font-size: 14px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .comment__text {
        font-size: 12px;
    }
}