.cartoons__block {
    background-color: $color-bg;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .cartoons__block {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}