.trainings {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: $color-bg;
    text-align: center;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .trainings {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .trainings {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}