.our-team {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .our-team {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .our-team {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}