.burger-menu__link {
    display: block;
    position: relative;
    color: $color-title;
    text-decoration: none;
    overflow: hidden;
    
    &:hover,
    &:focus {
        color: $color-title;
        text-decoration: none;
    }
    
    &:hover:after,
    &:focus:after,
    &:active:after {
//        width: 100%;
    }
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: $color-title;
        transition: .4s;
    }
}