.categories__link {
    position: relative;
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
    color: $color-title;
    transition-duration: .5s;
    
    &:hover {
        color: $color-title;
        text-decoration: none;
        transform: translateX(-10px);
        transition-duration: .5s;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .categories__link {
        font-size: 18px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .categories__link {
        font-size: 16px;
        font-style: normal;
    }
}