.info__img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
    margin-bottom: 25px;
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
     
    .info__img {
        max-width: 44%;
        margin-bottom: 20px;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .info__img {
        max-width: 100%;
        margin-bottom: 4.5%;
    }
}