.info {
    overflow: hidden;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: $color-title;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .info  {
        width: 477px;
        margin: 0 auto;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .info {
        width: 100%;
    }
}