.arrow {
    font-size: 20px;
    color: $color-note;
    transition-duration: .2s;
    
    &:hover {
        text-decoration: none;
        color: $color-bold;
        transition-duration: .2s;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .arrow {
        font-size: 16px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .arrow {
        font-size: 14px;
    }
}