.comments__field {
    width: 100%;
	border-radius: 5px;
	background-color: $color-title;
	border: solid 1px #dadada;
    padding: 5px 5px;
    font-size: 14px;
    
    &::placeholder {
        color: #a7a6a6;
    }
    
    &:focus {
        outline: none;
        border: 1px solid $color-master;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .comments__field {
        margin-bottom: 15px;
    }
}