.comments__note {
    color: $color-text;
    margin-bottom: 50px;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .comments__note {
        font-size: 12px;
    }
}