.comments {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 40px;
    text-align: justify;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .comments {
        padding: 20px;
    }
}