.header__categories {
    position: fixed;
    top: 100%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    z-index: 110;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .header__categories {
        display: block !important;
        text-align: center;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .header__categories {
        padding: 0;
    }
}