.header-cover {
    height: 695px;
    background-image: url(images/header-cover_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    
    .header-cover {
        height: 500px;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .header-cover {
        height: auto;
    }
}