.header-cover__menu {
    margin-top: 150px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .header-cover__menu {
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .header-cover__menu {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {

    .header-cover__menu {
        margin-top: 58px;
        margin-bottom: 45px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .header-cover__menu {
        margin-top: 0;
        margin-bottom: 15px;
    }
}