.header-cover__menu {
    margin-top: 150px;
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    
    .header-cover__menu {
        margin-top: 65px;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .header-cover__menu {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .header-cover__menu {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {

    .header-cover__menu {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .header-cover__menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}