.modal-form__button {
    font-size: 18px;
    width: 50%;
    margin: auto;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .modal-form__button {
        width: 100%;
    }
}