.button {
    display: block;
    width: 100%;
    padding: 15px 0;
	border-radius: 5px;
	background-color: $color-title;
	border: solid 1px $color-master;
    font-size: 16px;
    text-align: center;
    color: $color-master;
    transition-duration: .5s;
    
    &:hover {
        cursor: pointer;
        color: $color-title;
        background-color: $color-master;
        transition-duration: .5s;
        text-decoration: none;
    }
    
    &:focus {
        outline: none;
    }
    
    &:active {
        background-color: $color-bold;
        border: 1px solid $color-bold;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .button {
        font-size: 14px;
    }
}