.button {
    display: block;
    width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: $color-title;
	border: solid 1px $color-master;
    font-size: 16px;
    text-align: center;
    color: $color-master;
    transition-duration: .5s;
    
    &:hover {
        color: $color-title;
        background-color: $color-master;
        transition-duration: .5s;
    }
    
    &:focus {
        outline: none;
    }
    
    &:active {
        background-color: $color-bold;
        border: 1px solid $color-bold;
    }
}