.header {
    font-family: $font-title;
    font-size: 36px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .header {
        font-size: 28px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .header {
        font-size: 23px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .header {
        font-size: 20px;
    }
}