.load__icon {
    font-size: 48px;
    margin: auto;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .load__icon {
        font-size: 36px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .load__icon {
        font-size: 28px;
    }
}