.load__button {
    max-width: 300px;
    display: flex;
    margin: auto;
    align-items: center;
    
    &:hover {
        text-decoration: none;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .load__button {
        max-width: 240px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .load__button {
        max-width: 200px;
    }
}