.public__header {
    font-size: 22px;
    text-transform: uppercase;
    color: $color-text;
    margin: 0 40px 60px 40px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .public__header {
        margin: 0 0 40px;
        font-size: 18px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .public__header {
        font-size: 14px;
    }
}