.public__content {
    font-size: 16px;
    color: $color-text;
    text-align: center;
    margin: 50px 0 20px;
    overflow: hidden;
    
    p {
        margin-bottom: 10px;
        text-align: justify;
    }
    
    img {
        border-radius: 5px;
        float: left;
        margin: 0 23px 20px 0;
        height: auto;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-title;
        color: #000;
        margin: 20px auto;
        text-align: justify;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 23px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 18px;
    }
    
    ul, ol {
        padding-left: 20px;
    }
    
    ul {
        list-style-type: disc;
        text-align: justify;
    }
    
    ol {
        list-style-type: decimal;
        text-align: justify;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    blockquote {
        font-style: italic;
        text-align: justify;
    }
    
    a {
        color: #15895a;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .public__content {
        font-size: 14px;
        margin: 0 0 12px 0;
        
        img {
            float: none;
            margin: 0 auto 20px;
            max-width: 100%;
        }
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .public__content {
        margin-bottom: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .public__content {
        font-size: 12px;
    }
}