.public__content {
    font-size: 16px;
    color: $color-text;
    text-align: justify;
    margin: 50px 0 20px;
    overflow: hidden;
    
    p {
        margin-bottom: 10px;
        text-align: justify;
    }
    
    img {
        border-radius: 5px;
        float: left;
        margin: 0 23px 20px 0;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .public__content {
        font-size: 14px;
        margin: 40px 0;
        text-align: center;
        
        img {
            float: none;
            margin: 0 auto 20px;
            max-width: 100%;
        }
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .public__content {
        margin-bottom: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .public__content {
        font-size: 12px;
    }
}