.public__img {
    border-radius: 5px;
    float: left;
    margin: 0 23px 20px 0;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .public__img {
        float: none;
        margin: 0 auto 20px;
        max-width: 100%;
    }
}