.public__header_rounded {
    font-family: $font-title;
    font-size: 26px;
    text-transform: none;
    color: #000;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .public__header_rounded {
        font-size: 24px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .public__header_rounded {
        font-size: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .public__header_rounded {
        font-size: 18px;
    }
}